{% extends 'base.html' %}

{% block title %}Запрос на сброс пароля{% endblock title %}

{% block content %}
<style>
    body {
        background: linear-gradient(to right bottom, var(--bg-color), var(--main-color));
    }
</style>
<div class="set-new-password">
    <h3 class="password-heading">Запрос на сброс пароля</h3>
        <div class="container-reset">
            <form method="post">
                {% csrf_token %}
                <h4 class="text-email-password">Введите Email, который был использован при регистрации, чтобы мы могли отправить ссылку на восстановление пароля</h4>
                {{ form.as_p }}
                <button type="submit" class="button-password">Отправить запрос</button>
            </form>
        </div>
</div>
{% endblock %}

{% block footer %}{% endblock footer %}