{% extends 'base.html' %}
{% load static %}
{% block title %}Установка нового пароля{% endblock title %}
{% block content %}
<style>
    body {
        background: linear-gradient(to right bottom, var(--bg-color), var(--main-color));
    }
</style>
<div class="set-new-password">
    <h3 class="password-heading">Установка нового пароля</h3>
        <div class="container-set">
            <form method="post">
                {% csrf_token %}
                <h4 class="text-email-password">Создайте новый пароль для своего аккаунта, который отвечает требованиям информационной безопасности</h4>
                <h5 class="password-set">
                    <p>1. Минимальная длина пароля: 8 символов</p>
                    <p>2. Нужны цифры, а также буквы латинского алфавита разных регистров</p>
                    <p>3. Необходимо наличие спецсимволов</p>
                </h5>
                {{ form.as_p }}
                <button type="submit" class="button-password">Установить пароль</button>
            </form>
        </div>
</div>
{% endblock %}

{% block footer %}{% endblock footer %}